<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated app -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.nasdanika.html.model.app.presentation.AppModelWizardID"
            name="%_UI_AppModelWizard_label"
            class="org.nasdanika.html.model.app.presentation.AppModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AppModelFile.gif">
         <description>%_UI_AppModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated app -->
      <editor
            id="org.nasdanika.html.model.app.presentation.AppEditorID"
            name="%_UI_AppEditor_label"
            icon="icons/full/obj16/AppModelFile.gif"
            extensions="app"
            class="org.nasdanika.html.model.app.presentation.AppEditor"
            contributorClass="org.nasdanika.html.model.app.presentation.AppActionBarContributor">
      </editor>
      
      <editor 
      		class="org.eclipse.emfforms.spi.editor.GenericEditor" 
      		default="true" 
      		extensions="app" 
      		icon="icons/full/obj16/AppModelFile.gif" 
      		id="org.nasdanika.html.model.app.presentation.EmfFormsAppEditorID" 
      		name="Nasdanika Application EMF Forms Editor"/>
   </extension>

</plugin>
