.nsd-app-label-icon {
  height:0.8em;
  margin-bottom:0.2em;
  margin-right:0.3em;
}
.nsd-label-notification {
  margin-left:0.1em;
}
.nsd-label-help {
  margin-left:0.1em;
}
.nsd-app-content-row {
  min-height: 25rem;
}
.nsd-collapsible-trigger {
  float:right;
  margin-left:0.3em;
  cursor: pointer;
}
.nsd-collapse-panel .nsd-collapsible-trigger {
  float:none;
  margin-right:0.3em;  
}  
.nsd-collapsible-trigger .fa:before {  
  content: "\f077";
}
.nsd-collapsible-trigger.collapsed .fa:before {
  content: "\f078";
}

.nsd-mark {
	background-color: yellow;
}

td.hljs-ln-numbers {
	text-align: center;
	color: #ccc;
	border-right: 1px solid #999;
	vertical-align: top;
	padding-right: 5px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
td.hljs-ln-code {
	padding-left: 10px;
}

code {
	white-space: pre-wrap;
	overflow: auto;
}

@media print {
  div.nsd-app-navigation-panel {
    display: none;
  }
}
