.nsd-app-label-icon {
    height:0.8em;
    margin-bottom:0.2em;
    margin-right:0.1em;
}
.nsd-app-label-notification {
    margin-left:0.1em;
}
.nsd-app-label-help {
    margin-left:0.1em;
}
.nsd-app-content-row {
    min-height: 25rem;
}

.nsd-collapsible-trigger {
	float:right
} 

.nsd-collapsible-trigger .fa:before {  
  content: "\f139";
}

.nsd-collapsible-trigger.collapsed .fa:before {
  content: "\f13a";
}

@media print {
  div.nsd-app-navigation-panel {
    display: none;
  }
}
