<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bootstrap -->
      <package
            uri="ecore://nasdanika.org/html/bootstrap"
            class="org.nasdanika.html.model.bootstrap.BootstrapPackage"
            genModel="model/bootstrap.genmodel"/>
   </extension>

</plugin>
